.gallery {
  display: flex;
}

.first_item {
  line-height: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

.image {
  margin: 0;

  & img {
    margin: 0;
  }
}

.items {
  line-height: 0;
  display: flex;
  justify-content: space-between;

  & picture {
    margin: 0;
    padding: 0;
    display: block;
  }

  & img {
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
  }
}

@media (max-width: 767px) {
  .first_item {
    & img {
      width: 100%;
      height: auto;
    }
  }

  .items {
    justify-content: space-between;
    flex-flow: wrap row;

    & picture {
      width: 50vw;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}
